<% navbar_bg_class = params[:controller] == 'pages' && params[:action] == 'home' ? '' : 'bg-light'  %>
<% navbar_text_class = params[:controller] == 'pages' && params[:action] == 'home' ? 'text-light' : 'text-success'  %>

<div id="nav" class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= navbar_bg_class %> ">
  <div class="d-flex justify-content-start">
    <%= link_to root_path,  class: "navbar-brand" do %>
      <%= image_tag "https://www.nicepng.com/png/full/119-1198588_grass-fed-standards-grass-icon-vector-png.png" %>
    <% end %>
    <h1 class="target <%= navbar_text_class %>">vroom::BnB</h1>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "All our tractors", tractors_path, class: "target nav-link #{navbar_text_class}" %>
        </li>
        <li class="nav-item">
          <%= link_to "My rentals", bookings_path, class: "target nav-link #{navbar_text_class}" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://media-exp1.licdn.com/dms/image/C4D03AQH6fLqgyYXFTQ/profile-displayphoto-shrink_200_200/0?e=1585785600&v=beta&t=wuEKQPKCgSPZzfOVUW0hPudqQLq7diL6ijgtt5dHA6g", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My ads", owners_bookings_path, class: "dropdown-item" %>
            <%= link_to "My tractors", owners_tractors_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link text-success" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
