<%= render 'shared/banner' %>

<%= content_for(:after_application_pack) do %>
  <%= javascript_pack_tag 'home' %>
<% end %>

<div class="home-body">

  <div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
      <div class="col">
        <div class="shadow-sm rounded p-3 mt-5">
          <h3 class="text-center mb-3">Make a team with one of our Mowing-tractor</h3>
          <p class="text-justify mx-3">Find a tractor adapted at what you need, whatever your situation you can find the perfect tractor to maintain the turf. <br>It's the perfect way to have a beautiful lawn, without mecanic problems and for a good price.</p>
        </div>
      </div>
      <div class="col">
        <div class="shadow rounded my-5">
          <div class="images rounded" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "map.png" %>);"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-1">
      <div class="col">
        <div class="cta d-flex justify-content-center p-5">
          <%= link_to 'See all our Mowing-Tractors!', tractors_path, class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">

      <div class="col">
        <div class="shadow rounded mb-5">
          <div class="images rounded" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "home-young-woman.jpg" %>);"></div>
        </div>
      </div>

      <div class="col">
        <div class="shadow-sm rounded p-3">
          <h3 class="text-center mb-3">Find a machin close to your garden</h3>
          <p class="text-justify mx-3">When you're in a bind, or need an mowing machine quickly, request us for rental equipment. We supply well maintained mowing agricultural equipment, mowers specialized equipment to Nantes area. </p>
        </div>
      </div>

    </div>
  </div>
</div>
