<!-- OWNER INDEX OF ALL BOOKING  -->



<div class="index-bookings-body">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="history w-100">
          <% @bookings.each do |booking| %>
            <div class="my-locs m-2 shadow-sm rounded d-flex align-middle mt-3">

              <div class="container">
                <div class="row d-flex align-items-center justify-content-between">

                  <div class="col-md-auto d-flex p-2">
                    <%= cl_image_tag booking.user.avatar.key, width: 60, height: 60, crop: :fill, class: 'rounded-circle align-self-center' %>
                  </div>

                  <div class="col-md-2 ">
                    <%= booking.user.firstname %>
                    <%= booking.user.lastname %>
                  </div>


                  <div class="col-md-auto d-flex border-left ">
                    <%= cl_image_tag booking.tractor.photo.key, width: 60, height: 60, crop: :fill, class: 'rounded-circle' %>
                  </div>

                  <div class="col d-flex ">
                    <%= booking.tractor.title %> <%= booking.starting_date %> to <%= booking.ending_date %>
                  </div>





                  <div class="col col-md-2">
                    <div class="text-center ">
                      <% if booking.status == 'true' %>
                        <h3><span class="status"><i class="fas fa-check"></i> Accepted</span></h3>
                      <% elsif booking.status == 'false' %>
                        <h3><span class="status"><i class="fas fa-times"></i> Refused</span></h3>
                      <% else %>
                        <%= link_to "Accept", accept_owners_booking_path(booking), method: 'patch', class: 'btn btn-success btn-sm' %>
                        <%= link_to "Refuse", refuse_owners_booking_path(booking), method: 'patch', class: 'btn btn-danger btn-sm'  %>
                      <% end %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

