
<div class="index-body">
  <div class="container">
  <h1 class='pt-5' >All tractor</h1>
      <div class="row">
        <% @tractors.each do |tractor| %>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="rounded">
            <%= link_to tractor do  %>
              <div class="card m-5">
                <div class="image-cards" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url('<%= tractor_photo_path(tractor) %>')">
                  <div class="title">
                    <h1> <%= tractor.title %></h1>
                  </div>
                  <div class="price">
                    <h2><%= tractor.price_per_day %>€</h2>
                  </div>
                  <div class="info">
                    <div class="price-title">
                      <h1> <%= tractor.title %></h1>
                    </div>
                    <div class="description">
                      <p><%= tractor.description %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
