
<div class="container border-rounded pt-5">
  <h1>Book your mowing tractor</h1>

  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
    <div class="d-flex card-tractor shadow rounded m-3">
      <div class="picture-tractor">
        <%= cl_image_tag @tractor.photo.key, height: 400, width: 550, crop: :fill %>
      </div>
      <div class="description">
        <div class="">
          <div class="p-3">
            <h2><%=@tractor.title  %></h2>
            <p><%= @tractor.description %></p>
          </div>
          <div class="avatar">
            <%= cl_image_tag @tractor.photo.key, height: 50, width: 50, crop: :fill %>
          </div>
        </div>
      </div>

      <div class="booking-form">  <%= render 'bookings/form' %>

      </div>
      <div class="info">
        <div class="price text-right px-3">
          <div class="pb-3">
            <%= link_to 'Book Now ! ', tractor_path, class: 'btn btn-success' %>
          </div>
          <h5><%= @tractor.price_per_day %> € / per day</h5>
        </div>
      </div>
    </div>
  </div>
</div>



