  <div class="show-body">
<div class="container">
  <%= link_to "Back", tractors_path, class: "btn btn-outline-success btn-back" %>

    <div class="top-show d-flex justify-content-between">
      <h2><%=@tractor.title  %></h2>
      <h5 class=""><%= @tractor.price_per_day %> € /day</h5>
    </div>

    <div class="middle-show">
      <div class="d-flex border align-items-center justify-content-between">
        <div class="picture-tractor">
          <%= cl_image_tag @tractor.photo.key, width: 500,  crop: :fill, class: 'show-tractor-image'%>
        </div>
        <div class="booking-form">
          <%= render 'bookings/form' %>
        </div>
      </div>
    </div>
      <div class="bottom-show d-flex justify-content-between p-3">
        <div>
          <p class="px-2"><%= @tractor.description %></p>
            <div class="icons-show">
              <div class="aera-icons d-flex">
                <p class="pr-3">Aera/hour</p>
                  <div class="leaf-icon">
                    <% case @tractor.speed
                      when 1 %><p><i class="fas fa-leaf active"></i><i class="fas fa-leaf "></i><i class="fas fa-leaf"></i><i class="fas fa-leaf"></i><i class="fas fa-leaf"></i></p>
                      <% when 2 %><p><i class="fas fa-leaf active"></i><i class="fas fa-leaf active "></i><i class="fas fa-leaf"></i><i class="fas fa-leaf"></i><i class="fas fa-leaf"></i></p>
                      <% when 3 %><p><i class="fas fa-leaf active"></i><i class="fas fa-leaf active"></i><i class="fas fa-leaf active"></i><i class="fas fa-leaf"></i><i class="fas fa-leaf"></i></p>
                      <% when 4 %><p><i class="fas fa-leaf active"></i><i class="fas fa-leaf active"></i><i class="fas fa-leaf active"></i><i class="fas fa-leaf active"></i><i class="fas fa-leaf"></i></p>
                      <% when 5 %><p><i class="fas fa-leaf active"></i><i class="fas fa-leaf active"></i><i class="fas fa-leaf active"></i><i class="fas fa-leaf active"></i><i class="fas fa-leaf active"></i></p>
                    <% end %>
                  </div>
                </div>
                <div class="consumption-icons d-flex">
                  <p class="pr-3 ">Consumption</p>
                  <div class="pump-icon px-2 ">
                    <% case @tractor.consumption
                      when 1 %><p><i class="fas fa-gas-pump active"></i><i class="fas fa-gas-pump"></i><i class="fas fa-gas-pump"></i><i class="fas fa-gas-pump"></i><i class="fas fa-gas-pump"></i></p>
                      <% when 2 %><p><i class="fas fa-gas-pump active"></i><i class="fas fa-gas-pump active "></i><i class="fas fa-gas-pump"></i><i class="fas fa-gas-pump"></i><i class="fas fa-gas-pump"></i></p>
                      <% when 3 %><p><i class="fas fa-gas-pump active"></i><i class="fas fa-gas-pump active"></i><i class="fas fa-gas-pump active"></i><i class="fas fa-gas-pump"></i><i class="fas fa-gas-pump"></i></p>
                      <% when 4 %><p><i class="fas fa-gas-pump active"></i><i class="fas fa-gas-pump active"></i><i class="fas fa-gas-pump active"></i><i class="fas fa-gas-pump active"></i><i class="fas fa-gas-pump"></i></p>
                      <% when 5 %><p><i class="fas fa-gas-pump active"></i><i class="fas fa-gas-pump active"></i><i class="fas fa-gas-pump active"></i><i class="fas fa-gas-pump active"></i><i class="fas fa-gas-pump active"></i></p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="avatar-owner p-2">
              <div class="">
                <%= cl_image_tag @tractor.user.avatar.key, height: 50, width: 50, crop: :fill, class: 'image-owner rounded-circle' %>
              </div>
                <div class="owner-first-name pt-2">
                  <%= @tractor.user.firstname %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>






